[Unit]
Description=NS Journey Planner

[Service]
User=eigenein
Group=eigenein
WorkingDirectory=/home/eigenein/ns-bot
ExecStart=/usr/bin/env python3 bot.py --verbose --log-file bot.log
Restart=always

[Install]
WantedBy=multi-user.target
